<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>QC Learning Center</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>