<form action="/students" method="POST">
    <input type="text" name="student[firstName]" placeholder="first">
    <input type="text" name="student[lastName]" placeholder="last">
    <input type="text" name="student[school]" placeholder="school">
    <input type="number" name="student[grade]" placeholder="grade">
    <button>Submit</button>
</form>